.prototype_body_1{
  .ToneSynth{
    width: 27.083vw;
    height: 50vw;
    border-radius: 1.389vw;
    background: #F3F3F3;
  }
  .one{
    position: absolute;
    left: 3.2vw;
    top: 3.2vw;
    padding: 1.111vw;
  }
  .two{
    position: absolute;
    top: 3.2vw;
    right: 3.2vw;
    padding: 1.111vw;
  }
  .three{
    height: 22.8vw;
    border-radius: 1.389vw;
    background: #F3F3F3;
    display: flex;
    position: absolute;
    top: 31.5vw;
    left: 32.9vw;
    padding: 1.111vw;
    .ToneSynth{
      background: transparent;
      margin-top: -.8vw;
      margin-left: -1.8vw;
      height: auto;
      .SC_Slider{
        padding-top: 1.111vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        .slider_path{
          display: flex;
          justify-content: center;
          width: 23vw;
          height: 3.333vw;
          border-radius: 2.431vw;
          background: white;
          input[type=range]{
            width: 20vw;
            -webkit-appearance: none;
            background: transparent;

          }
          input[type=range]::-webkit-slider-runnable-track {
            height: 0.278vw;
            cursor: pointer;
            background: #A6A6A6;
            border-radius: 1.111vw;
          }
          input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            background: {
              image: asset_url("thumb.jpg");
            }
            background-size: 125%;
            background-position: center;
            box-shadow: inset -1px 1px 1px #FFFFFF, inset 1px -1px 6px rgba(0, 0, 0, 0.2);
            filter: blur(0.5px) drop-shadow(-0.5px 0.5px 0px rgba(0, 0, 0, 0.05)) drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.2));
            height: 1.944vw;
            width: 1.944vw;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -0.972vw; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
          }
        }
      }

      .SC_Slider:nth-of-type(2){
        display: none;
      }
      // .SC_Slider:nth-of-type(3){
      //   display: none;
      // }
      .SC_Slider:nth-of-type(4){
        display: none;
      }
      .SC_ToggleButtonSet{
        padding-top: 1.9vw;
        .buttons{
          width: 23vw;
          .SC_ToggleButton{
            width: 11.5vw;
            height: 2.778vw;
          }
          .SC_ToggleButton:nth-of-type(1){
            border-radius: 0.556vw 0 0 0.556vw;
          }
          .SC_ToggleButton:nth-of-type(2){
            display: none;
          }
          .SC_ToggleButton:nth-of-type(3){
            display: none;
          }
          .SC_ToggleButton:nth-of-type(4){
            border-radius: 0 0.556vw 0.556vw 0;
          }
        }
      }
    }
    .knobs{
      margin-left: -.4vw;
      .SC_Knob:nth-of-type(1){
        margin-bottom: .7vw;
      }
    }
  }
  .one, .two {
    .knobs{
      position: absolute;
      top: 40vw;
      margin-left: 1.111vw;
      width: 24.722vw;
      display: flex;
      justify-content: space-between;
    }
  }
  .desclaimer{
    position: absolute;
    left: 38.9vw;
    top: 10.8vw;
    width: 19.444vw;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 0.972vw;
    line-height: 1.30vw;

    color: #00C414;
  }
}

.prototype_body_2 {
  .ToneSynth{
    width: 27.083vw;
    height: 50vw;
    border-radius: 1.389vw;
    background: none;
  }
  .one{
    position: absolute;
    left: 40px;
    top: 110px;
    padding: 1.111vw;
  }
  .two{
    position: absolute;
    top: 110px;
    right: 40px;
    padding: 1.111vw;
  }
  .three{
    height: 22.8vw;
    border-radius: 1.389vw;
    // background: #F3F3F3;
    display: flex;
    position: absolute;
    top: 32vw;
    left: 560px;
    padding: 1.111vw;
    .ToneSynth{
      background: transparent;
      margin-top: -.8vw;
      margin-left: -1.8vw;
      height: auto;
      .SC_Slider{
        padding-top: 1.111vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        .slider_path{
          display: flex;
          justify-content: center;
          height: 3.333vw;
          background: #E1E5F2;
          /* drop metalove */

          box-shadow: -0.5px 0.5px 0px rgba(0, 0, 0, 0.05), -2px 2px 2px rgba(0, 0, 0, 0.2), inset -1px 1px 1px #FFFFFF, inset 1px -1px 6px rgba(0, 0, 0, 0.2);
          filter: blur(0.5px);
          input[type=range]{
            width: 20vw;
            -webkit-appearance: none;
            background: transparent;

          }
          input[type=range]::-webkit-slider-runnable-track {
            height: 0.278vw;
            cursor: pointer;
            background: #0015D3;
            /* drop metalove */

            box-shadow: -0.5px 0.5px 0px rgba(0, 0, 0, 0.05), -2px 2px 2px rgba(0, 0, 0, 0.2), inset -1px 1px 1px #FFFFFF, inset 1px -1px 6px rgba(0, 0, 0, 0.2);
            filter: blur(0.5px);
            border-radius: 1.111vw;
          }
          input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            background: {
              image: asset_url("thumb.jpg");
            }
            background-size: 125%;
            background-position: center;
            box-shadow: inset -1px 1px 1px #FFFFFF, inset 1px -1px 6px rgba(0, 0, 0, 0.2);
            filter: blur(0.5px) drop-shadow(-0.5px 0.5px 0px rgba(0, 0, 0, 0.05)) drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.2));
            height: 1.944vw;
            width: 1.944vw;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -0.972vw; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
          }
        }
      }

      .SC_Slider:nth-of-type(2){
        display: none;
      }
      // .SC_Slider:nth-of-type(3){
      //   display: none;
      // }
      .SC_Slider:nth-of-type(4){
        display: none;
      }
      .SC_ToggleButtonSet{
        padding-top: 1.9vw;
        .buttons{

          .SC_ToggleButton{

            height: 2.778vw;
          }
          .SC_ToggleButton:nth-of-type(2){
            display: none;
          }
          .SC_ToggleButton:nth-of-type(3){
            display: none;
          }
        }
      }
    }
    .knobs{
      position: absolute;
      right: -8vw;
      .SC_Knob:nth-of-type(1){
        margin-bottom: .7vw;
      }
    }
  }
  .one, .two {
    .knobs{
      position: absolute;
      top: 38vw;
      margin-left: 1.111vw;
      width: 24.722vw;
      display: flex;
      justify-content: space-between;
    }
  }
}
